<% title t('.title') %>

   <div class="span4">
    <ul class="standard">
      <% if current_user.role?(User::ROLES[:admin]) %>
        <li>
         <%= link_to t('helpers.links.elections'), admin_elections_path %>
        </li>
        <li>
         <%= link_to t('helpers.links.election_data'), admin_election_data_path %>
        </li>
        <li>
         <%= link_to t('helpers.links.redownload_protocol'), admin_election_data_redownload_protocols_path %>
        </li>
        <li>
         <%= link_to t('helpers.links.reset_bad_data'), admin_election_data_reset_bad_protocol_data_path %>
        </li>
        <li>
         <%= link_to t('helpers.links.users'), admin_users_path %>
        </li>
      <% end %>
      <li>
       <%= link_to t('.sign_out'), destroy_user_session_path, :method => :delete %>
      </li>
 		</ul>
  </div>
