<% title t('.title') %>

<div id="election_data_links" class="row-fluid">
  <div class="span3">
    <p>
      <%= t('.last_precinct_count', :count => @last_precinct_count) %>
    </p>
  </div>
  <div class="span3">
    <p>
      <%= t('.min_precinct_change', :count => (@last_precinct_count + @min_precinct_change)) %>
    </p>
  </div>
  <div class="span3">
    <p>
      <%= t('.precinct_count', :count => @current_precinct_count) %>
    </p>
  </div>
  <div class="span3">
    <% if @current_precinct_count >= (@last_precinct_count + @min_precinct_change) %>
      <p id="create_migration_link">
        <%= link_to t('.push_data'), admin_election_data_create_migration_path, :id => 'create_migration' %>
      </p>
      <p id="create_migration_processing">
        Migrating Data...
      </p>
      <p id="create_migration_success">
        Migration Successful!
      </p>
      <p id="create_migration_error">
        An error occurred during the migration.
      </p>
    <% end %>
  </div>
</div>
<% if @current_precinct_count == 0 %>

  <p>
    <%= t('.no_precincts') %>
  </p>

<% else %>

  <% if @migrations.present? %>
      <table id="election_data" class="table table-striped">
        <thead>
          <tr>
            <th>
              <%= t('.sent_at') %>
            </th>
            <th>
              <%= t('.num_precincts') %>
            </th>
            <th>
              <%= t('.recieved_success_notification_at') %>
            </th>
            <th>
              <%= t('.success') %>
            </th>
            <th>
              <%= t('.notification_msg') %>
            </th>
            <th>
              <%= t('.file') %>
            </th>
          </tr>
        </thead>
        <tbody>
          <% @migrations.each do |migration| %>
            <tr>
              <td>
                <%= l migration.created_at, :format => :file if migration.created_at.present? %>
              </td>    
              <td>
                <%= migration.num_precincts %>
              </td>    
              <td>
                <%= l migration.recieved_success_notification_at, :format => :file if migration.recieved_success_notification_at.present? %>
              </td>    
              <td>
                <%= migration.success %>
              </td>    
              <td>
                <%= migration.notification_msg %>
              </td>    
              <td>
                <%= link_to(t('.view_file'), migration.file_url_path) if migration.file_url_path.present? %>
              </td>    
            </tr>
          <% end %>
        </tbody>
      </table>

  <% else %>
    <p>
      <%= t('.no_migrations') %>  
    </p>
  <% end %>
<% end %>
