<p>
  <%= t('.explanation') %>
</p>
<div class="tabs">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#amendment" data-toggle="tab"><%= t('.tabs.amendment') %></a></li>
    <li><a href="#annullment" data-toggle="tab"><%= t('.tabs.annullment') %></a></li>
    <li><a href="#explanatory_note" data-toggle="tab"><%= t('.tabs.explanatory_note') %></a></li>
  </ul>
  <div class="tab-content tab-content">
    <div class="tab-pane fade in active" id="amendment">
      <%= simple_format(t('.text.amendment')) %>
      <img src="/help/amendment.jpg" />
    </div>
    <div class="tab-pane fade in" id="annullment">
      <%= simple_format(t('.text.annullment')) %>
      <img src="/help/annulled.jpg" />
    </div>
    <div class="tab-pane fade in" id="explanatory_note">
      <%= simple_format(t('.text.explanatory_note')) %>
      <img src="/help/explanatory_note.jpg" />
    </div>
  </div>
</div>