<% title t('.title') %>
<% links = link_to(t('helpers.links.help'), '#help-modal', class: 'protocol-button small help', role: 'button', :'data-toggle' => 'modal') +
            ' ' + link_to(t('.skip'), categorize_supplemental_documents_path, class: 'protocol-button help skip small') %>
<% title_right links %>

<div id="categorize_supplemental_documents">

  <% if @supplemental_document.present? %>
    <%= semantic_form_for(@supplemental_document, url: categorize_supplemental_documents_path) do |f| %>
      <%= f.error_messages %>

      <%= f.inputs do %>
        <%= f.hidden_field :id %>
        <%= f.hidden_field :is_amendment %>
        <%= f.hidden_field :is_annullment %>
        <%= f.hidden_field :is_explanatory_note %>
        <%= f.hidden_field :categorized_by_user_id, value: current_user.id %>

        <div class="document-selection">
          <div class="row-fluid">
            <div class="span4">
              <%= link_to t('.amendment'), '#', class: 'protocol-button amendment', :'data-name' => :is_amendment %>
            </div>
            <div class="span4">
              <%= link_to t('.annulled'), '#', class: 'protocol-button annulled', :'data-name' => :is_annullment %>
            </div>
            <div class="span4">
              <%= link_to t('.explanatory_note'), '#', class: 'protocol-button explanatory', :'data-name' => :is_explanatory_note %>
            </div>
          </div>
        </div>

        <div class="document-image">
          <%= image_tag @supplemental_document.file_path %>
        </div>
      <% end %>

    <% end %>

  <% else %>

    <p class="alert alert-success">
      <%= t('.no_documents') %>
    </p>

  <% end %>

</div>


<div id="help-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel"><%= t('.modal_header') %></h3>
  </div>
  <div class="modal-body">
    <%= render :partial => 'root/categorize_supplemental_documents_help' %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true"><%= t('helpers.links.close') %></button>
  </div>
</div>
