<% title t('.title') %>

<div id="download">

  <div class="tabs">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#download-data" data-toggle="tab"><%= t('.tabs.download') %></a></li>
      <li><a href="#definitions" data-toggle="tab"><%= t('.tabs.definitions') %></a></li>
    </ul>
    <div class="tab-content tab-content">
      <div class="tab-pane fade in active" id="download-data">
        <% if @all_elections.present? && @overall_stats.present? %>
          <table class="table table-striped" id="download_elections">
            <thead>
              <tr>
                <th>
                </th>
                <th>
                  <%= t('.header.election') %>
                </th>
                <th>
                  <%= t('.header.election_date') %>
                </th>
                <th>
                  <%= t('.header.protocols_missing') %> (#)
                </th>
                <th>
                  <%= t('.header.protocols_found') %> (#)
                </th>
                <th>
                  <%= t('.header.protocols_not_entered') %> (#)
                </th>
                <th>
                  <%= t('.header.protocols_validated') %> (#)
                </th>
                <th>
                  <%= t('.header.protocols_missing') %> (%)
                </th>
                <th>
                  <%= t('.header.protocols_found') %> (%)
                </th>
                <th>
                  <%= t('.header.protocols_not_entered') %> (%)
                </th>
                <th>
                  <%= t('.header.protocols_validated') %> (%)
                </th>
              </tr>
            </thead>
            <tbody>
              <% @overall_stats.each do |stats| %>
                <tr>
                  <% election = @all_elections.select{|x| x.id == stats[:election_id]}.first %>
                  <td>
                    <% if @elections_with_data.present? && @elections_with_data.index(election.id).present? %>
                      <%= link_to 'CSV', generate_spreadsheet_path(id: election.analysis_table_name, :format => :csv), class: 'btn btn-small' %>
                      <%= link_to 'XLS', generate_spreadsheet_path(id: election.analysis_table_name, :format => :xls), class: 'btn btn-small' %>
                    <% end %>
                  </td>
                  <td>
                    <%= election.name if election.present? %>
                  </td>
                  <td>
                    <%= l election.election_at if election.present? %>
                  </td>
                  <td>
                    <%= stats[:protocols_missing][:number] %>
                  </td>
                  <td>
                    <%= stats[:protocols_found][:number] %>
                  </td>
                  <td>
                    <%= stats[:protocols_not_entered][:number] %>
                  </td>
                  <td>
                    <%= stats[:protocols_validated][:number] %>
                  </td>
                  <td>
                    <%= stats[:protocols_missing][:percent] %>
                  </td>
                  <td>
                    <%= stats[:protocols_found][:percent] %>
                  </td>
                  <td>
                    <%= stats[:protocols_not_entered][:percent] %>
                  </td>
                  <td>
                    <%= stats[:protocols_validated][:percent] %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
          <div class="alert alert-warning">
            <%= t('.no_data') %>
          </div>
        <% end %>
      </div>

      <div class="tab-pane fade in" id="definitions">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>
                <%= t('.column_header') %>
              </th>
              <th>
                <%= t('.explanation') %>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>region</td>
              <td><%= t('.explanations.region') %></td>
            </tr>
            <tr>
              <td>district_id</td>
              <td><%= t('.explanations.district_id') %></td>
            </tr>
            <tr>
              <td>district_name</td>
              <td><%= t('.explanations.district_name') %></td>
            </tr>
            <tr>
              <td>precinct_id</td>
              <td><%= t('.explanations.precinct_id') %></td>
            </tr>
            <tr>
              <td>num_possible_voters</td>
              <td><%= t('.explanations.num_possible_voters') %></td>
            </tr>
            <tr>
              <td>num_special_voters</td>
              <td><%= t('.explanations.num_special_voters') %></td>
            </tr>
            <tr>
              <td>num_at_12</td>
              <td><%= t('.explanations.num_at_12') %></td>
            </tr>
            <tr>
              <td>num_at_17</td>
              <td><%= t('.explanations.num_at_17') %></td>
            </tr>
            <tr>
              <td>num_votes</td>
              <td><%= t('.explanations.num_votes') %></td>
            </tr>
            <tr>
              <td>num_ballots</td>
              <td><%= t('.explanations.num_ballots') %></td>
            </tr>
            <tr>
              <td>num_invalid_votes</td>
              <td><%= t('.explanations.num_invalid_votes') %></td>
            </tr>
            <tr>
              <td>num_valid_votes</td>
              <td><%= t('.explanations.num_valid_votes') %></td>
            </tr>
            <tr>
              <td>logic_check_fail</td>
              <td><%= t('.explanations.logic_check_fail') %></td>
            </tr>
            <tr>
              <td>logic_check_difference</td>
              <td><%= t('.explanations.logic_check_difference') %></td>
            </tr>
            <tr>
              <td>more_ballots_than_votes_flag</td>
              <td><%= t('.explanations.more_ballots_than_votes_flag') %></td>
            </tr>
            <tr>
              <td>more_ballots_than_votes</td>
              <td><%= t('.explanations.more_ballots_than_votes') %></td>
            </tr>
            <tr>
              <td>more_votes_than_ballots_flag</td>
              <td><%= t('.explanations.more_votes_than_ballots_flag') %></td>
            </tr>
            <tr>
              <td>more_votes_than_ballots</td>
              <td><%= t('.explanations.more_votes_than_ballots') %></td>
            </tr>
            <tr>
              <td>supplemental_documents_flag</td>
              <td><%= t('.explanations.supplemental_documents_flag') %></td>
            </tr>
            <tr>
              <td>supplemental_document_count</td>
              <td><%= t('.explanations.supplemental_document_count') %></td>
            </tr>
            <tr>
              <td>amendment_flag</td>
              <td><%= t('.explanations.amendment_flag') %></td>
            </tr>
            <tr>
              <td>explanatory_note_flag</td>
              <td><%= t('.explanations.explanatory_note_flag') %></td>
            </tr>
            <tr>
              <td>is_annulled</td>
              <td><%= t('.explanations.is_annulled') %></td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
