<div id="landing_page">
  <% if @elections.present? %>

    <% if @overall_stats.present? %>
      <h2><%= t('.stats_header') %></h2>
      <div class="tabs">
        <ul class="nav nav-tabs">
          <% @elections.each_with_index do |election, index| %>
            <% active = index == 0 ? 'active' : '' %>
            <li class="<%= active %>"><a href="#overall_stats_<%= election.analysis_table_name %>" data-toggle="tab"><%= election.name %></a></li>
          <% end %>
          <% if @overall_user_stats.present? %>
            <li><a href="#overall_stats_users" data-toggle="tab"><%= t('.users')  %></a></li>
          <% end %>
        </ul>
        <div class="tab-content">
          <% @elections.each_with_index do |election, index| %>
            <% active = index == 0 ? 'active' : '' %>
            <div class="tab-pane fade in <%= active %>" id="overall_stats_<%= election.analysis_table_name %>">
              <% stats = @overall_stats.select{|x| x[:election_id] == election.id}.first %>
              <% if stats.present? %>
                <div class="row-fluid">
                  <div class="span4">
                    <p>
                      <strong><%= t('.overall_stats.districts')%>:</strong>
                      <%= stats[:districts] %>
                    </p>
                    <p>
                      <strong><%= t('.overall_stats.precincts')%>:</strong>
                      <%= stats[:precincts] %>
                    </p>
                  </div>
                  <div class="span4">
                    <p>
                      <strong><%= t('.overall_stats.protocols_missing')%>:</strong>
                      <%= stats[:protocols_missing][:number] %>
                      (<%= stats[:protocols_missing][:percent] %>)
                    </p>
                    <p>
                      <strong><%= t('.overall_stats.protocols_found')%>:</strong>
                      <%= stats[:protocols_found][:number] %>
                      (<%= stats[:protocols_found][:percent] %>)
                    </p>
                  </div>
                  <div class="span4">
                    <p>
                      <strong><%= t('.overall_stats.protocols_not_entered')%>:</strong>
                      <%= stats[:protocols_not_entered][:number] %>
                      <% if stats[:protocols_not_entered][:number] != I18n.t('app.common.na') %>
                        (<%= stats[:protocols_not_entered][:percent] %>)
                      <% end %>
                    </p>
                    <p>
                      <strong><%= t('.overall_stats.protocols_validated')%>:</strong>
                      <%= stats[:protocols_validated][:number] %>
                      <% if stats[:protocols_validated][:number] != I18n.t('app.common.na') %>
                        (<%= stats[:protocols_validated][:percent] %>)
                      <% end %>
                    </p>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
          <% if @overall_user_stats.present? %>
            <div class="tab-pane fade in" id="overall_stats_users">
              <div class="row-fluid">
                <div class="span4 offset2">
                  <p>
                    <strong><%= t('.overall_user_stats.users')%>:</strong>
                    <%= @overall_user_stats[:users] %>
                  </p>
                  <p>
                    <strong><%= t('.overall_user_stats.submitted')%>:</strong>
                    <%= @overall_user_stats[:submitted] %>
                  </p>
                  <p>
                    <strong><%= t('.overall_user_stats.pending')%>:</strong>
                    <%= @overall_user_stats[:pending][:number] %>
                    <% if @overall_user_stats[:pending][:number] != I18n.t('app.common.na') %>
                      (<%= @overall_user_stats[:pending][:percent] %>)
                    <% end %>
                  </p>
                </div>
                <div class="span4">
                  <p>
                    <strong><%= t('.overall_user_stats.valid')%>:</strong>
                    <%= @overall_user_stats[:valid][:number] %>
                    <% if @overall_user_stats[:valid][:number] != I18n.t('app.common.na') %>
                      (<%= @overall_user_stats[:valid][:percent] %>)
                    <% end %>
                  </p>
                  <p>
                    <strong><%= t('.overall_user_stats.invalid')%>:</strong>
                    <%= @overall_user_stats[:invalid][:number] %>
                    <% if @overall_user_stats[:invalid][:number] != I18n.t('app.common.na') %>
                      (<%= @overall_user_stats[:invalid][:percent] %>)
                    <% end %>
                  </p>
                  <p>
                    <strong><%= t('.overall_user_stats.extra')%>:</strong>
                    <%= @overall_user_stats[:extra][:number] %>
                    <% if @overall_user_stats[:extra][:number] != I18n.t('app.common.na') %>
                      (<%= @overall_user_stats[:extra][:percent] %>)
                    <% end %>
                  </p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>


      <% if @overall_stats_by_district.present? %>
        <h2><%= t('.overall_stats_by_district.header') %></h2>
        <div class="tabs">
          <ul class="nav nav-tabs">
            <% @elections.each_with_index do |election, index| %>
              <% active = index == 0 ? 'active' : '' %>
              <li class="<%= active %>"><a href="#district_stats_<%= election.analysis_table_name %>" data-toggle="tab"><%= election.name %></a></li>
            <% end %>
          </ul>
          <div class="tab-content">
            <% @elections.each_with_index do |election, index| %>
              <% active = index == 0 ? 'active' : '' %>
              <div class="tab-pane fade in <%= active %>" id="district_stats_<%= election.analysis_table_name %>">
                <% stats = @overall_stats_by_district.select{|x| x[:election_id] == election.id}.first %>
                <% if stats.present? %>
                  <table class="table table-striped overall_stats_by_district">
                    <thead>
                      <tr>
                        <th>
                          <%= t('.overall_stats_by_district.region') %>
                        </th>
                        <th>
                          <%= t('.overall_stats_by_district.district') %>
                        </th>
                        <th>
                          <%= t('.overall_stats_by_district.district_id') %>
                        </th>
                        <th>
                          <%= t('.overall_stats_by_district.precincts') %> (#)
                        </th>
                        <th>
                          <%= t('.overall_stats_by_district.protocols_missing') %> (#)
                        </th>
                        <th>
                          <%= t('.overall_stats_by_district.protocols_found') %> (#)
                        </th>
                        <th>
                          <%= t('.overall_stats_by_district.protocols_not_entered') %> (#)
                        </th>
                        <th>
                          <%= t('.overall_stats_by_district.protocols_validated') %> (#)
                        </th>
                        <th>
                          <%= t('.overall_stats_by_district.protocols_missing') %> (%)
                        </th>
                        <th>
                          <%= t('.overall_stats_by_district.protocols_found') %> (%)
                        </th>
                        <th>
                          <%= t('.overall_stats_by_district.protocols_not_entered') %> (%)
                        </th>
                        <th>
                          <%= t('.overall_stats_by_district.protocols_validated') %> (%)
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <% stats[:districts].each do |district| %>
                        <tr>
                          <td>
                            <%= district[:region] %>
                          </td>
                          <td>
                            <%= district[:district] %>
                          </td>
                          <td>
                            <%= district[:district_id] %>
                          </td>
                          <td>
                            <%= district[:precincts] %>
                          </td>
                          <td>
                            <%= district[:protocols_missing][:number] %>
                          </td>
                          <td>
                            <%= district[:protocols_found][:number] %>
                          </td>
                          <td>
                            <%= district[:protocols_not_entered][:number] %>
                          </td>
                          <td>
                            <%= district[:protocols_validated][:number] %>
                          </td>
                          <td>
                            <%= district[:protocols_missing][:percent] %>
                          </td>
                          <td>
                            <%= district[:protocols_found][:percent] %>
                          </td>
                          <td>
                            <%= district[:protocols_not_entered][:percent] %>
                          </td>
                          <td>
                            <%= district[:protocols_validated][:percent] %>
                          </td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>

  <% elsif @elections_coming_up.present? %>

    <div class="row-fluid elections-coming-up">
      <div class="span4">
        <h2><%= t('.stay_tuned.header') %></h2>

        <p><%= t('.stay_tuned.text') %></p>
        <ul>
          <% @elections_coming_up.each do |election| %>
            <li><%= "#{election.name} (#{l election.election_at})" %></li>
          <% end %>
        </ul>
      </div>
      <div class="span4">
        <h2><%= t('.want_help.header') %></h2>
        <%= simple_format(t('.want_help.text')) %>
      </div>
      <div class="span4">
        <%= link_to(image_tag('share.png'), @bitly_url, target: :blank) %>
      </div>
    </div>

  <% else %>

    <h2><%= t('.no_elections.header') %></h2>
    <%= simple_format(t('.no_elections.text')) %>

  <% end %>

</div>

