<div id="landing_page">


  <% if @all_elections.present? %>
    <h2>
      <%= @current_election.name %>
      |
      <%= l @current_election.election_at %>
      <% if @current_election.can_enter_data? %>
        | <i class="icon-edit" title='<%= t('.flags.active') %>'></i>
      <% elsif @current_election.is_coming_up? %>
        | <i class="icon-time" title='<%= t('.flags.coming_up') %>'></i>
      <% end %>

      <div class="switch-to dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <%= t('.choose') %>
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <% @all_elections.each do |election| %>

            <li>
              <%= link_to params.merge(election: election.analysis_table_name) do %>
                <% flag = election.can_enter_data? ?
                            "| #{t('.flags.active')}" : election.is_coming_up? ?
                            "| #{t('.flags.coming_up')}" : '' %>
                <%= "#{election.name} | #{l election.election_at} #{flag}" %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </h2>

    <% if @current_election.is_coming_up? %>

      <div class="row-fluid elections-coming-up">
        <div class="span6">
          <h3><%= t('.stay_tuned.header') %></h3>

          <p><%= t('.stay_tuned.text', name: @current_election.name, date: l(@current_election.election_at)) %></p>
        </div>
      </div>

    <% else %>

      <div class="tabs">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#status" data-toggle="tab"><%= t('.tabs.status') %></a></li>
          <li><a href="#summary" data-toggle="tab"><%= t('.tabs.summary') %></a></li>
          <li><a href="#supplemental_documents" data-toggle="tab"><%= t('.tabs.supplemental_documents') %></a></li>
          <li><a href="#annulled" data-toggle="tab"><%= t('.tabs.annulled') %></a></li>
          <li><a href="#download" data-toggle="tab"><%= t('.tabs.download') %></a></li>
        </ul>
        <div class="tab-content tab-content">
          <div class="tab-pane fade in active" id="status">
            <div class="row-fluid">
              <div class="span6">
                <h3 class="underline"><%= t('.status.headers.data_entry') %></h3>
                <% stats = @overall_stats.select{|x| x[:election_id] == @current_election.id}.first %>
                <% if stats.present? %>
                  <div class="row-fluid">
                    <div class="span6">
                      <p>
                        <strong><%= t('.status.overall_stats.districts')%>:</strong>
                        <%= stats[:districts] %>
                      </p>
                      <p>
                        <strong><%= t('.status.overall_stats.precincts')%>:</strong>
                        <%= stats[:precincts] %>
                      </p>
                      <p>
                        <strong><%= t('.status.overall_stats.protocols_found')%>:</strong>
                        <%= stats[:protocols_found][:number] %>
                        (<%= stats[:protocols_found][:percent] %>)
                      </p>
                    </div>
                    <div class="span6">
                      <p class="highlight-bad">
                        <strong><%= t('.status.overall_stats.protocols_missing')%>:</strong>
                        <%= stats[:protocols_missing][:number] %>
                        (<%= stats[:protocols_missing][:percent] %>)
                      </p>
                      <p class="highlight-good">
                        <strong><%= t('.status.overall_stats.protocols_validated')%>:</strong>
                        <%= stats[:protocols_validated][:number] %>
                        <% if stats[:protocols_validated][:number] != I18n.t('app.common.na') %>
                          (<%= stats[:protocols_validated][:percent] %>)
                        <% end %>
                      </p>
                      <p>
                        <strong><%= t('.status.overall_stats.protocols_not_entered')%>:</strong>
                        <%= stats[:protocols_not_entered][:number] %>
                        <% if stats[:protocols_not_entered][:number] != I18n.t('app.common.na') %>
                          (<%= stats[:protocols_not_entered][:percent] %>)
                        <% end %>
                      </p>
                    </div>
                  </div>
                <% end %>
              </div>

              <div class="span6">
                <h3 class="underline"><%= t('.status.headers.users') %></h3>
                <div class="row-fluid">
                  <div class="span6">
                    <p>
                      <strong><%= t('.status.overall_user_stats.users')%>:</strong>
                      <%= @overall_user_stats[:users] %>
                    </p>
                    <p>
                      <strong><%= t('.status.overall_user_stats.submitted')%>:</strong>
                      <%= @overall_user_stats[:submitted] %>
                    </p>
                    <p>
                      <strong><%= t('.status.overall_user_stats.pending')%>:</strong>
                      <%= @overall_user_stats[:pending][:number] %>
                      <% if @overall_user_stats[:pending][:number] != I18n.t('app.common.na') %>
                        (<%= @overall_user_stats[:pending][:percent] %>)
                      <% end %>
                    </p>
                  </div>
                  <div class="span6">
                    <p class="highlight-good">
                      <strong><%= t('.status.overall_user_stats.valid')%>:</strong>
                      <%= @overall_user_stats[:valid][:number] %>
                      <% if @overall_user_stats[:valid][:number] != I18n.t('app.common.na') %>
                        (<%= @overall_user_stats[:valid][:percent] %>)
                      <% end %>
                    </p>
                    <p class="highlight-bad">
                      <strong><%= t('.status.overall_user_stats.invalid')%>:</strong>
                      <%= @overall_user_stats[:invalid][:number] %>
                      <% if @overall_user_stats[:invalid][:number] != I18n.t('app.common.na') %>
                        (<%= @overall_user_stats[:invalid][:percent] %>)
                      <% end %>
                    </p>
                    <p>
                      <strong><%= t('.status.overall_user_stats.extra')%>:</strong>
                      <%= @overall_user_stats[:extra][:number] %>
                      <% if @overall_user_stats[:extra][:number] != I18n.t('app.common.na') %>
                        (<%= @overall_user_stats[:extra][:percent] %>)
                      <% end %>
                    </p>
                  </div>
                </div>
              </div>
            </div>


            <h3><%= t('.status.headers.districts') %></h3>
            <% stats = @overall_stats_by_district.select{|x| x[:election_id] == @current_election.id}.first %>
            <% if stats.present? %>
              <table class="table table-striped overall_stats_by_district">
                <thead>
                  <tr>
                    <% if @current_election.has_regions? %>
                      <th class="hl1">
                        <%= t('.status.overall_stats_by_district.region') %>
                      </th>
                    <% end %>
                    <% if @current_election.has_district_names? %>
                      <th class="hl1">
                        <%= t('.status.overall_stats_by_district.district') %>
                      </th>
                    <% end %>
                    <th class="hl1 num-sort">
                      <%= t('.status.overall_stats_by_district.district_id') %>
                    </th>
                    <th class="hl1 num-sort">
                      <%= t('.status.overall_stats_by_district.precincts') %> (#)
                    </th>
                    <th class="num-sort">
                      <%= t('.status.overall_stats_by_district.protocols_missing') %> (#)
                    </th>
                    <th class="num-sort">
                      <%= t('.status.overall_stats_by_district.protocols_found') %> (#)
                    </th>
                    <th class="num-sort">
                      <%= t('.status.overall_stats_by_district.protocols_not_entered') %> (#)
                    </th>
                    <th class="hl2 num-sort">
                      <%= t('.status.overall_stats_by_district.protocols_validated') %> (#)
                    </th>
                    <th class="num-sort">
                      <%= t('.status.overall_stats_by_district.protocols_missing') %> (%)
                    </th>
                    <th class="num-sort">
                      <%= t('.status.overall_stats_by_district.protocols_found') %> (%)
                    </th>
                    <th class="num-sort">
                      <%= t('.status.overall_stats_by_district.protocols_not_entered') %> (%)
                    </th>
                    <th class="hl2 num-sort">
                      <%= t('.status.overall_stats_by_district.protocols_validated') %> (%)
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <% stats[:districts].each do |district| %>
                    <tr>
                      <% if @current_election.has_regions? %>
                        <td>
                          <%= district[:region] %>
                        </td>
                      <% end %>
                      <% if @current_election.has_district_names? %>
                        <td>
                          <%= district[:district] %>
                        </td>
                      <% end %>
                      <td>
                        <%= district[:district_id] %>
                      </td>
                      <td>
                        <%= district[:precincts] %>
                      </td>
                      <td>
                        <%= district[:protocols_missing][:number] %>
                      </td>
                      <td>
                        <%= district[:protocols_found][:number] %>
                      </td>
                      <td>
                        <%= district[:protocols_not_entered][:number] %>
                      </td>
                      <td>
                        <%= district[:protocols_validated][:number] %>
                      </td>
                      <td>
                        <%= district[:protocols_missing][:percent] %>
                      </td>
                      <td>
                        <%= district[:protocols_found][:percent] %>
                      </td>
                      <td>
                        <%= district[:protocols_not_entered][:percent] %>
                      </td>
                      <td>
                        <%= district[:protocols_validated][:percent] %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            <% end %>
          </div>


          <div class="tab-pane fade in" id="summary">
            <% if @district_summaries.present? %>
              <table class="table table-striped district_summaries">
                <thead>
                  <tr>
                    <% if @current_election.has_district_names? %>
                      <th class="hl1">
                        <%= t('.district_summaries.headers.district') %>
                      </th>
                    <% end %>
                    <th class="hl1">
                      <%= t('.district_summaries.headers.district_id') %>
                    </th>
                    <th>
                      <%= t('.district_summaries.headers.precincts_reported_num') %>
                    </th>
                    <th>
                      <%= t('.district_summaries.headers.precincts_reported_percent') %>
                    </th>
                    <th>
                      <%= t('.district_summaries.headers.vote_num') %>
                    </th>
                    <th>
                      <%= t('.district_summaries.headers.vote_percent') %>
                    </th>
                    <th>
                      <%= t('.district_summaries.headers.invalid5') %>
                    </th>
                    <th>
                      <%= t('.district_summaries.headers.vpm') %>
                    </th>
                    <th>
                      <%= t('.district_summaries.headers.more_ballots_percent') %>
                    </th>
                    <th>
                      <%= t('.district_summaries.headers.more_ballots_avg') %>
                    </th>
                    <th>
                      <%= t('.district_summaries.headers.more_votes_percent') %>
                    </th>
                    <th>
                      <%= t('.district_summaries.headers.more_votes_avg') %>
                    </th>
                    <th>
                      <%= t('.district_summaries.headers.supplemental_documents_percent') %>
                    </th>
                    <th>
                      <%= t('.district_summaries.headers.supplemental_documents_avg') %>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <% @district_summaries.each do |district_summary| %>
                    <tr>
                      <% if @current_election.has_district_names? %>
                        <td>
                          <%= district_summary['district_Name'] %>
                        </td>
                      <% end %>
                      <td>
                        <%= district_summary['district_id'] %>
                      </td>
                      <td>
                        <%= number_with_delimiter(district_summary['num_precincts_reported_number']) %>
                      </td>
                      <td>
                        <%= number_to_percentage(district_summary['num_precincts_reported_percent']) %>
                      </td>
                      <td>
                        <%= number_with_delimiter(district_summary['total valid ballots cast']) %>
                      </td>
                      <td>
                        <%= number_to_percentage(district_summary['percent voters voting']) %>
                      </td>
                      <td>
                        <%= number_with_delimiter(district_summary['num invalid ballots >5%']) %>
                      </td>
                      <td>
                        <%= number_with_delimiter(district_summary['num precincts vpm > 2']) %>
                      </td>
                      <td>
                        <%= number_to_percentage(district_summary['percent precincts more ballots than votes']) %>
                      </td>
                      <td>
                        <%= number_with_delimiter(number_with_precision(district_summary['avg precinct difference more ballots than votes'])) %>
                      </td>
                      <td>
                        <%= number_to_percentage(district_summary['percent precincts more votes than ballots']) %>
                      </td>
                      <td>
                        <%= number_with_delimiter(number_with_precision(district_summary['avg precinct difference more votes than ballots'])) %>
                      </td>
                      <td>
                        <%= number_to_percentage(district_summary['percent precincts with supplemental documents']) %>
                      </td>
                      <td>
                        <%= number_with_delimiter(number_with_precision(district_summary['avg precinct supplemental document count'])) %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            <% else %>
              <div class="alert alert-success">
                <%= t('.district_summaries.no_data') %>
              </div>
            <% end %>
          </div>


          <div class="tab-pane fade in" id="supplemental_documents">
            <% if @supplemental_documents.present? %>
              <table class="table table-striped supplemental_documents">
                <thead>
                  <tr>
                    <th>
                    </th>
                    <th class="hl1">
                      <%= t('.supplemental_documents.headers.district') %>
                    </th>
                    <th class="hl1">
                      <%= t('.supplemental_documents.headers.precinct') %>
                    </th>
                    <th>
                      <%= t('.supplemental_documents.headers.count') %>
                    </th>
                    <th>
                      <%= t('.supplemental_documents.headers.has_amendment') %>
                    </th>
                    <th>
                      <%= t('.supplemental_documents.headers.has_explanatory_note') %>
                    </th>
                    <th>
                      <%= t('.supplemental_documents.headers.invalid_ballots') %>
                    </th>
                    <th>
                      <%= t('.supplemental_documents.headers.logic_check_fail') %>
                    </th>
                    <th>
                      <%= t('.supplemental_documents.headers.logic_check_difference') %>
                    </th>
                    <th>
                      <%= t('.supplemental_documents.headers.more_ballots_than_votes_flag') %>
                    </th>
                    <th>
                      <%= t('.supplemental_documents.headers.more_ballots_than_votes') %>
                    </th>
                    <th>
                      <%= t('.supplemental_documents.headers.more_votes_than_ballots_flag') %>
                    </th>
                    <th>
                      <%= t('.supplemental_documents.headers.more_votes_than_ballots') %>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <% @supplemental_documents.each do |supplemental_document| %>
                    <tr>
                      <td>
                        <%= link_to t('helpers.links.view'),
                                view_protocol_path(election_id: @current_election.analysis_table_name,
                                                    district_id: supplemental_document['district_id'],
                                                    precinct_id: supplemental_document['precinct_id']),
                                class: 'btn btn-default', title: t('.supplemental_documents.view_title'),
                                target: :blank %>
                      </td>
                      <td>
                        <%= supplemental_document['district_id'] %>
                      </td>
                      <td>
                        <%= supplemental_document['precinct_id'] %>
                      </td>
                      <td>
                        <%= supplemental_document['supplemental_document_count'] %>
                      </td>
                      <td>
                        <%= convert_boolean_answer(supplemental_document['has_amendment']) %>
                      </td>
                      <td>
                        <%= convert_boolean_answer(supplemental_document['has_explanatory_note']) %>
                      </td>
                      <td>
                        <%= supplemental_document['num_invalid_votes'] %>
                      </td>
                      <td>
                        <%= convert_boolean_answer(supplemental_document['logic_check_fail']) %>
                      </td>
                      <td>
                        <%= supplemental_document['logic_check_difference'] %>
                      </td>
                      <td>
                        <%= convert_boolean_answer(supplemental_document['more_ballots_than_votes_flag']) %>
                      </td>
                      <td>
                        <%= supplemental_document['more_ballots_than_votes'] %>
                      </td>
                      <td>
                        <%= convert_boolean_answer(supplemental_document['more_votes_than_ballots_flag']) %>
                      </td>
                      <td>
                        <%= supplemental_document['more_votes_than_ballots'] %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            <% else %>
              <div class="alert alert-success">
                <%= t('.supplemental_documents.no_data') %>
              </div>
            <% end %>
          </div>


          <div class="tab-pane fade in" id="annulled">
            <% if @annulled.present? %>
              <table class="table table-striped annulled">
                <thead>
                  <tr>
                    <th>
                    </th>
                    <th class="hl1">
                      <%= t('.annulled.headers.district') %>
                    </th>
                    <th class="hl1">
                      <%= t('.annulled.headers.precinct') %>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <% @annulled.each do |annull| %>
                    <tr>
                      <td>
                        <%= link_to t('helpers.links.view'),
                            view_protocol_path(election_id: @current_election.analysis_table_name,
                                                district_id: annull.district_id,
                                                precinct_id: annull.precinct_id),
                            class: 'btn btn-default', title: t('.annulled.view_title'),
                            target: :blank %>
                      </td>
                      <td>
                        <%= annull.district_id %>
                      </td>
                      <td>
                        <%= annull.precinct_id %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            <% else %>
              <div class="alert alert-success">
                <%= t('.annulled.no_data') %>
              </div>
            <% end %>
          </div>

          <div class="tab-pane fade in" id="download">
            <div class="row-fluid">
              <div class="span6">
                <h3 class="underline"><%= t('.status.headers.data_entry') %></h3>
                <% stats = @overall_stats.select{|x| x[:election_id] == @current_election.id}.first %>
                <% if stats.present? %>
                  <div class="row-fluid">
                    <div class="span6">
                      <p>
                        <strong><%= t('.status.overall_stats.districts')%>:</strong>
                        <%= stats[:districts] %>
                      </p>
                      <p>
                        <strong><%= t('.status.overall_stats.precincts')%>:</strong>
                        <%= stats[:precincts] %>
                      </p>
                      <p>
                        <strong><%= t('.status.overall_stats.protocols_found')%>:</strong>
                        <%= stats[:protocols_found][:number] %>
                        (<%= stats[:protocols_found][:percent] %>)
                      </p>
                    </div>
                    <div class="span6">
                      <p class="highlight-bad">
                        <strong><%= t('.status.overall_stats.protocols_missing')%>:</strong>
                        <%= stats[:protocols_missing][:number] %>
                        (<%= stats[:protocols_missing][:percent] %>)
                      </p>
                      <p class="highlight-good">
                        <strong><%= t('.status.overall_stats.protocols_validated')%>:</strong>
                        <%= stats[:protocols_validated][:number] %>
                        <% if stats[:protocols_validated][:number] != I18n.t('app.common.na') %>
                          (<%= stats[:protocols_validated][:percent] %>)
                        <% end %>
                      </p>
                      <p>
                        <strong><%= t('.status.overall_stats.protocols_not_entered')%>:</strong>
                        <%= stats[:protocols_not_entered][:number] %>
                        <% if stats[:protocols_not_entered][:number] != I18n.t('app.common.na') %>
                          (<%= stats[:protocols_not_entered][:percent] %>)
                        <% end %>
                      </p>
                    </div>
                  </div>
                <% end %>
              </div>

              <div class="span6">
                <h3 class="underline"><%= t('.download.headers.download') %></h3>
                <% if @current_election.has_analysis_data? %>
                  <ul class="data-downloads">
                    <li>
                      <%= link_to 'CSV', generate_spreadsheet_path(id: @current_election.analysis_table_name, :format => :csv), class: 'btn btn-success' %>

                    </li>
                    <li>
                      <%= link_to 'XLS', generate_spreadsheet_path(id: @current_election.analysis_table_name, :format => :xls), class: 'btn btn-success' %>
                    </li>
                  </ul>
                <% else %>
                  <p class="alert alert-warning"><%= t('root.download.no_data') %></p>
                <% end %>
              </div>
            </div>

            <h2><%= t('root.download.tabs.definitions') %></h2>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>
                    <%= t('root.download.column_header') %>
                  </th>
                  <th>
                    <%= t('root.download.explanation') %>
                  </th>
                </tr>
              </thead>
              <tbody>
                <% if @current_election.has_regions? %>
                  <tr>
                    <td>region</td>
                    <td><%= t('root.download.explanations.region') %></td>
                  </tr>
                  <% end %>
                <tr>
                  <td>district_id</td>
                  <td><%= t('root.download.explanations.district_id') %></td>
                </tr>
                <% if @current_election.has_district_names? %>
                  <tr>
                    <td>district_name</td>
                    <td><%= t('root.download.explanations.district_name') %></td>
                  </tr>
                <% end %>
                <% if @current_election.is_local_majoritarian? %>
                  <tr>
                    <td>major_district_id</td>
                    <td><%= t('root.download.explanations.major_district_id') %></td>
                  </tr>
                <% end %>
                <tr>
                  <td>precinct_id</td>
                  <td><%= t('root.download.explanations.precinct_id') %></td>
                </tr>
                <tr>
                  <td>num_possible_voters</td>
                  <td><%= t('root.download.explanations.num_possible_voters') %></td>
                </tr>
                <tr>
                  <td>num_special_voters</td>
                  <td><%= t('root.download.explanations.num_special_voters') %></td>
                </tr>
                <tr>
                  <td>num_at_12</td>
                  <td><%= t('root.download.explanations.num_at_12') %></td>
                </tr>
                <tr>
                  <td>num_at_17</td>
                  <td><%= t('root.download.explanations.num_at_17') %></td>
                </tr>
                <tr>
                  <td>num_votes</td>
                  <td><%= t('root.download.explanations.num_votes') %></td>
                </tr>
                <tr>
                  <td>num_ballots</td>
                  <td><%= t('root.download.explanations.num_ballots') %></td>
                </tr>
                <tr>
                  <td>num_invalid_votes</td>
                  <td><%= t('root.download.explanations.num_invalid_votes') %></td>
                </tr>
                <tr>
                  <td>num_valid_votes</td>
                  <td><%= t('root.download.explanations.num_valid_votes') %></td>
                </tr>
                <tr>
                  <td>logic_check_fail</td>
                  <td><%= t('root.download.explanations.logic_check_fail') %></td>
                </tr>
                <tr>
                  <td>logic_check_difference</td>
                  <td><%= t('root.download.explanations.logic_check_difference') %></td>
                </tr>
                <tr>
                  <td>more_ballots_than_votes_flag</td>
                  <td><%= t('root.download.explanations.more_ballots_than_votes_flag') %></td>
                </tr>
                <tr>
                  <td>more_ballots_than_votes</td>
                  <td><%= t('root.download.explanations.more_ballots_than_votes') %></td>
                </tr>
                <tr>
                  <td>more_votes_than_ballots_flag</td>
                  <td><%= t('root.download.explanations.more_votes_than_ballots_flag') %></td>
                </tr>
                <tr>
                  <td>more_votes_than_ballots</td>
                  <td><%= t('root.download.explanations.more_votes_than_ballots') %></td>
                </tr>
                <tr>
                  <td>supplemental_documents_flag</td>
                  <td><%= t('root.download.explanations.supplemental_documents_flag') %></td>
                </tr>
                <tr>
                  <td>supplemental_document_count</td>
                  <td><%= t('root.download.explanations.supplemental_document_count') %></td>
                </tr>
                <tr>
                  <td>amendment_flag</td>
                  <td><%= t('root.download.explanations.amendment_flag') %></td>
                </tr>
                <tr>
                  <td>explanatory_note_flag</td>
                  <td><%= t('root.download.explanations.explanatory_note_flag') %></td>
                </tr>
                <tr>
                  <td>is_annulled</td>
                  <td><%= t('root.download.explanations.is_annulled') %></td>
                </tr>
              </tbody>
            </table>
          </div>


        </div>
      </div>

    <% end %>
  <% else %>

    <h2><%= t('.no_elections.header') %></h2>
    <%= simple_format(t('.no_elections.text')) %>

  <% end %>

</div>

