<% dp = DistrictPrecinct %>
<% title t('.title') %>


<% if @crowd_datum.blank? %>
  <p>
    <%= t('.no_protocols') %>
  </p>

<% else %>
  <% if @crowd_datum.errors[:base].present? %>
    <div class="alert alert-error fade in">
      <a href="#" data-dismiss="alert" class="close">×</a>
      <%= @crowd_datum.errors[:base].join('<br />'.html_safe) %>
    </div>
  <% end %>

  <div id="protocol-form-container">

    <% if @crowd_datum.supplemental_document_image_paths.present? %>

      <p id="amendment_explanation">
        <%= t('.supplemental_document_explanation1') %>
        <br />
        <%= t('.supplemental_document_explanation2') %>
      </p>

    <% end %>

    <% if @crowd_datum.district_id == '87' || @crowd_datum.district_id == '00' %>

      <p id="overseas_explanation">
        <%= t('.overseas_explanation1') %>
        <br />
        <%= t('.overseas_explanation2') %>
      </p>

    <% end %>

    <div class="cant-enter">
      <h3><%= t('.cant_enter.title') %></h3>
      <%= semantic_form_for @crowd_datum, :url => protocol_path do |f| %>
        <%= f.inputs do %>
          <%= f.input :election_id, :as => :hidden %>
          <%= f.input :district_id, :as => :hidden %>
          <%= f.input :precinct_id, :as => :hidden %>
          <%= f.input :major_district_id, :as => :hidden %>

          <input id="crowd_datum_moderation_reason_none" name="crowd_datum[moderation_reason][]" value="" type="hidden">
          <ul class="inline">
            <% dp::MODERATION_REASONS.keys.each do |key| %>
              <li>
                <input id="crowd_datum_moderation_reason_<%= dp::MODERATION_REASONS[key] %>" name="crowd_datum[moderation_reason][]"
                        value="<%= dp::MODERATION_REASONS[key] %>" type="checkbox">
                <label class="choice checkbox" for="crowd_datum_moderation_reason_<%= dp::MODERATION_REASONS[key] %>"
                        title="<%= t(".cant_enter.titles.#{key}") %>">
                  <%= t(".cant_enter.text.#{key}") %>
                </label>
              </li>
            <% end %>
            <li>
              <input name="commit" value="<%= t('app.common.submit') %>" type="submit" disabled="disabled">
            </li>
            <li>
              <%= link_to(t('helpers.links.help'), '#help-modal', class: 'protocol-button small help', role: 'button', :'data-toggle' => 'modal') %>
            </li>
          </ul>


        <% end %>
      <% end %>
    </div>

    <hr />

    <div class="protocol-container">

      <div class="magnifier-thumb-wrapper">
        <%= image_tag @crowd_datum.image_path, :id => 'protocolimg', alt: t('.image_alt') %>
      </div>


      <%= semantic_form_for @crowd_datum, :url => protocol_path do |f| %>
        <%= f.inputs do %>
          <%= f.input :election_id, :as => :hidden %>
          <%= f.input :district_id, :as => :hidden %>
          <%= f.input :precinct_id, :as => :hidden %>
          <%= f.input :user_id, :as => :hidden %>

          <div class="not-enter-x">
            <%= t('.p1').html_safe %>
          </div>


          <%
            style = ''
            if @election.protocol_top_box_margin.to_f > 0
              style = "margin-top: #{@election.protocol_top_box_margin}px"
            end
          %>

          <div class="top-box" style='<%= style %>'>
            <div class="f f1">
              <%= f.input :possible_voters, :label => '1', :as => :string, :input_html => {:autocomplete => :off} %>
            </div>
            <div class="f f2">
              <%= f.input :special_voters, :label => '2', :as => :string, :input_html => {:autocomplete => :off} %>
            </div>
            <div class="inline clearfix">
              <div class="f f3">
                <%= f.input :votes_by_1200, :label => '3ა (12:00)', :as => :string, :input_html => {:autocomplete => :off} %>
              </div>
              <div class="f f4">
                <%= f.input :votes_by_1700, :label => '3ბ (17:00)', :as => :string, :input_html => {:autocomplete => :off} %>
              </div>
            </div>
            <div class="f f5">
              <%= f.input :ballots_signed_for, :label => '4', :as => :string, :input_html => {:autocomplete => :off} %>
            </div>
            <div class="f f6">
              <%= f.input :ballots_available, :label => '5', :as => :string, :input_html => {:autocomplete => :off} %>
            </div>
          </div>

          <div class="party-box">
            <%
              style = "margin-top: #{@election.protocol_party_top_margin}px"
              logger.debug "========== #{@election.protocol_party_top_margin}"
            %>
            <% @party_numbers.each do |number| %>
              <div class="f" style='<%= style %>'>
                <%= f.input :"party_#{number}", :label => number.to_s, :as => :string, :input_html => {:autocomplete => :off} %>
              </div>
            <% end %>
          </div>

          <%
            style = ''
            if !@election.parties_same_for_all_districts? && @election.max_party_in_district > 0 && @election.max_party_in_district != @party_numbers.length
              # have to calculate how high the party box should be
              # and subtract from the # of parties in the box
              # - 22.5 is the default height for each field
              party_height = 22.5 + @election.protocol_party_top_margin.to_f
              total_height = @election.max_party_in_district * party_height
              total_party_height = @party_numbers.length * (party_height)
              empty_space = total_height - total_party_height
              logger.debug "parties = #{@party_numbers.length}; party height = #{party_height}; total party height = #{total_party_height}; total = #{total_height}; empty = #{empty_space}"
              style = "margin-top: #{empty_space}px"
            end
          %>
          <div class="bottom-box" style='<%= style %>'>
            <div class="f f7">
              <%= f.input :invalid_ballots_submitted, :label => '6', :as => :string, :input_html => {:autocomplete => :off} %>
            </div>
          </div>

        <% end %>

        <% if @crowd_datum.supplemental_document_image_paths.present? %>
          <p id="amendment_copy">
            <%= t('.supplemental_document_explanation1') %>
            <br />
            <%= t('.supplemental_document_explanation2') %>
          </p>
        <% end %>

        <%= f.actions do %>
          <%= f.action :submit, :as => :input, :label => t('app.common.submit') %>
        <% end %>

        <div id="votesum_explanation">
          <p>
            **
            <%= t('.votesum_explanation1', :label => t('app.csv_header.num_votes')) %>
          </p>
          <p>
            <%= t('.votesum_explanation2', :label => t('.sum_party_votes')) %>
          </p>
          <p>
            <%= t('.votesum_explanation3') %>
          </p>
          <p>
            <%= t('.votesum_explanation4') %>
          </p>
        </div>

      <% end %>

      <div id="votesum">
        <span class="f" title="<%= t('app.csv_header.num_votes') %>">0</span>
        <span class="e">=</span>
        <span class="s" title="<%= t('.sum_party_votes')%>">0</span>
        **
      </div>

    </div>
    <% if @crowd_datum.supplemental_document_image_paths.present? %>
      <hr />
      <h2><%= t('.supplemental_documents') %></h2>
      <div id="amendment_image" class="clear">
        <% @crowd_datum.supplemental_document_image_paths.each do |img_path| %>
          <%= image_tag img_path %>
          <br />
        <% end %>
      </div>
    <% end %>

  </div>
  <div id="protocol_controls">
    <div class="protocol_controls_toggle" title="<%= t('.title.toggle')%>"></div>
    <div class="magnifier-preview" id="magnifier-preview"><div class="placeholder"><%= t('.scroll_to_zoom')%></div></div>
    <div class="buttons">
      <div>
        <button type="button" id="protocol_rotate_ccw" data-dir="-.5" title="<%= t('.title.ccw')%>"></button>
        <button type="button" id="protocol_rotate_cw" data-dir=".5" title="<%= t('.title.cw')%>"></button>
        <button type="button" id="protocol_flip" title="<%= t('.title.flip')%>"></button>
      </div>
      <div>
        <button type="button" id="protocol_move_up" data-dir="-1" title="<%= t('.title.up')%>"></button>
        <button type="button" id="protocol_move_down" data-dir="1" title="<%= t('.title.down')%>"></button>
        <button type="button" id="protocol_move_left" data-dir="-1" title="<%= t('.title.left')%>"></button>
        <button type="button" id="protocol_move_right" data-dir="1" title="<%= t('.title.right')%>"></button>
      </div>
      <div>
        <button type="button" id="protocol_rotate_reset" title="<%= t('.title.reset')%>"></button>
      </div>
    </div>
  </div>
<% end %>


<div id="help-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel"><%= t('.modal_header') %></h3>
  </div>
  <div class="modal-body">
    <%= render :partial => 'root/cant_enter_help' %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true"><%= t('helpers.links.close') %></button>
  </div>
</div>
