<% title t('.title') %>


<% if @crowd_datum.blank? %>
  <p>
    <%= t('.no_protocols') %>  
  </p>

<% else %>

  <% if @crowd_datum.errors[:base].present? %>
    <div class="alert alert-error fade in">
      <a href="#" data-dismiss="alert" class="close">×</a>
      <%= @crowd_datum.errors[:base].join('<br />'.html_safe) %>
    </div>
  <% end %>

  <div id="protocol-form-container">

    <p>
      <%= t('.p1') %>
    </p>

    <p>
      <%= t('.p2') %>
    </p>

    <% if @crowd_datum.amendment_image_path.present? %>

      <p id="amendment_explanation">
        <%= t('.amendment_explanation1') %>
        <br />
        <%= t('.amendment_explanation2') %>
      </p>

    <% end %>

    <%= image_tag @crowd_datum.image_path, :id => 'protocolimg' %>

    <%= semantic_form_for @crowd_datum, :html => {:class => 'training'}, :url => protocol_path do |f| %>
      <%= f.inputs do %>
        <%= f.input :district_id, :as => :hidden %>
        <%= f.input :precinct_id, :as => :hidden %>
        <%= f.input :user_id, :as => :hidden %>

        <%  [
              [1, :possible_voters],
              [2, :special_voters],
              ['3ა (12:00)', :votes_by_1200],
              ['3ბ (17:00)', :votes_by_1700],
              [4, :ballots_signed_for],
              [5, :ballots_available],
              [1, :party_1],
              [4, :party_2],
              [5, :party_3],
              [9, :party_4],
              [10, :party_5],
              [17, :party_6],
              [19, :party_7],
              [23, :party_8],
              [24, :party_9],
              [26, :party_10],
              [30, :party_11],
              [35, :party_12],
              [36, :party_13],
              [38, :party_14],
              [40, :party_15],
              [41, :party_16],
              [6, :invalid_ballots_submitted]
            ].each_with_index do |x, i| %>

          <% if i == 2 %>
            <div class="inline clearfix">
          <% elsif i == 4 %>
            </div>
          <% end %>


          <div class="m m<%= i + 1 %>">
            <%= f.input x[1], :label => x[0].to_s, :as => :string %>
          </div>
        <% end %>



      <% end %>

      <%= f.actions do %>
        <%= f.action :submit, :as => :input, :label => t('app.common.submit') %>
      <% end %>
    <% end %>

    <div id="amendment_image" class="clear">
      <%= image_tag @crowd_datum.amendment_image_path if @crowd_datum.amendment_image_path.present?%>
    </div>

  </div>
<% end %>
