<%- model_class = User -%>
<% title t '.title', :default => model_class.model_name.human.pluralize %>

<div class="form-actions">
<%= link_to t('helpers.links.new'),
            new_admin_user_path,
            :class => 'btn btn-primary' %>
<%= link_to t('helpers.links.admin'), admin_path,
:class => 'btn' %>
<%= link_to t('.reset_training'), reset_training_admin_users_path,
:class => 'btn btn-warning', method: :post, :data => { :confirm => I18n.t("helpers.links.confirm") } %>

<%
  p = params[:current_elections] == 'true' ? false : true
  text = params[:current_elections] == 'true' ? t('.all_stats') : t('.current_election_stats')
%>
<%= link_to text, params.merge(current_elections: p),
:class => 'btn btn-success pull-right' %>
</div>

<table class="table table-striped display" id="users-datatable">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:role) %></th>
      <th>
        <%= t('.training')%> (#)
      </th>
      <th>
        <%= t('app.user_stats.submitted')%> (#)
      </th>
      <th>
        <%= t('app.user_stats.pending')%> (#)
      </th>
      <th>
        <%= t('app.user_stats.valid')%> (#)
      </th>
      <th>
        <%= t('app.user_stats.extra')%> (#)
      </th>
      <th>
        <%= t('app.user_stats.invalid')%> (#)
      </th>
      <th>
        <%= t('app.user_stats.pending')%> (%)
      </th>
      <th>
        <%= t('app.user_stats.valid')%> (%)
      </th>
      <th>
        <%= t('app.user_stats.invalid')%> (%)
      </th>
      <th>
        <%= t('app.user_stats.extra')%> (%)
      </th>
      <th><%=	t('app.common.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <% index = @all_user_stats.index{|x| x[:user_id] == user.id} %>
      <tr>
        <td>
          <%= user.email %>
        </td>
        <td>
          <%= user.role_name.humanize %>
        </td>
        <td>
          <%= user.trained.length %>
        </td>
        <td>
          <%= @all_user_stats[index][:submitted] if index.present? %>
        </td>
        <td>
          <%= @all_user_stats[index][:pending][:number] if index.present? %>
        </td>
        <td>
          <%= @all_user_stats[index][:valid][:number] if index.present? %>
        </td>
        <td>
          <%= @all_user_stats[index][:extra][:number] if index.present? %>
        </td>
        <td>
          <%= @all_user_stats[index][:invalid][:number] if index.present? %>
        </td>
        <td>
          <%= @all_user_stats[index][:pending][:percent] if index.present? %>
        </td>
        <td>
          <%= @all_user_stats[index][:valid][:percent] if index.present? %>
        </td>
        <td>
          <%= @all_user_stats[index][:invalid][:percent] if index.present? %>
        </td>
        <td>
          <%= @all_user_stats[index][:extra][:percent] if index.present? %>
        </td>
        <td>
          <%= link_to(I18n.t("helpers.links.edit"), edit_admin_user_path(user, :locale => I18n.locale), :class => 'btn btn-mini') %>
          <%= link_to(I18n.t("helpers.links.destroy"),
                      admin_user_path(user, :locale => I18n.locale),
                      :method => :delete,
											:data => { :confirm => I18n.t("helpers.links.confirm") },
                      :class => 'btn btn-mini btn-danger') %>
          <br /><br />
          <%= I18n.t('app.common.added_on', :date => I18n.l(user.created_at, :format => :short)) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
