<p id="notice"><%= notice %></p>

<p>
  <b>District:</b>
  <%= @crowd_datum.district_id %>
</p>

<p>
  <b>Precinct:</b>
  <%= @crowd_datum.precinct_id %>
</p>

<p>
  <b>Possible voters:</b>
  <%= @crowd_datum.possible_voters %>
</p>

<p>
  <b>Special voters:</b>
  <%= @crowd_datum.special_voters %>
</p>

<p>
  <b>Votes by 1200:</b>
  <%= @crowd_datum.votes_by_1200 %>
</p>

<p>
  <b>Votes by 1700:</b>
  <%= @crowd_datum.votes_by_1700 %>
</p>

<p>
  <b>Ballots signed for:</b>
  <%= @crowd_datum.ballots_signed_for %>
</p>

<p>
  <b>Ballots available:</b>
  <%= @crowd_datum.ballots_available %>
</p>

<p>
  <b>Invalid ballots submitted:</b>
  <%= @crowd_datum.invalid_ballots_submitted %>
</p>

<p>
  <b>Party 1:</b>
  <%= @crowd_datum.party_1 %>
</p>

<p>
  <b>Party 2:</b>
  <%= @crowd_datum.party_2 %>
</p>

<p>
  <b>Party 3:</b>
  <%= @crowd_datum.party_3 %>
</p>

<p>
  <b>Party 4:</b>
  <%= @crowd_datum.party_4 %>
</p>

<p>
  <b>Party 5:</b>
  <%= @crowd_datum.party_5 %>
</p>

<p>
  <b>Party 6:</b>
  <%= @crowd_datum.party_6 %>
</p>

<p>
  <b>Party 7:</b>
  <%= @crowd_datum.party_7 %>
</p>

<p>
  <b>Party 8:</b>
  <%= @crowd_datum.party_8 %>
</p>

<p>
  <b>Party 9:</b>
  <%= @crowd_datum.party_9 %>
</p>

<p>
  <b>Party 10:</b>
  <%= @crowd_datum.party_10 %>
</p>

<p>
  <b>Party 11:</b>
  <%= @crowd_datum.party_11 %>
</p>

<p>
  <b>Party 12:</b>
  <%= @crowd_datum.party_12 %>
</p>

<p>
  <b>Party 13:</b>
  <%= @crowd_datum.party_13 %>
</p>

<p>
  <b>Party 14:</b>
  <%= @crowd_datum.party_14 %>
</p>

<p>
  <b>Party 15:</b>
  <%= @crowd_datum.party_15 %>
</p>

<p>
  <b>Party 16:</b>
  <%= @crowd_datum.party_16 %>
</p>

<p>
  <b>Party 17:</b>
  <%= @crowd_datum.party_17 %>
</p>

<p>
  <b>Party 18:</b>
  <%= @crowd_datum.party_18 %>
</p>

<p>
  <b>Party 19:</b>
  <%= @crowd_datum.party_19 %>
</p>

<p>
  <b>Party 20:</b>
  <%= @crowd_datum.party_20 %>
</p>

<p>
  <b>Party 21:</b>
  <%= @crowd_datum.party_21 %>
</p>

<p>
  <b>Party 22:</b>
  <%= @crowd_datum.party_22 %>
</p>

<p>
  <b>Party 41:</b>
  <%= @crowd_datum.party_41 %>
</p>

<p>
  <b>User:</b>
  <%= @crowd_datum.user_id %>
</p>


<%= link_to 'Edit', edit_crowd_datum_path(@crowd_datum) %> |
<%= link_to 'Back', crowd_data_path %>
